/* Fonts */
@font-face {
    font-family: "Made Outer Sans";
    font-weight: 400;
    src: url("../fonts/MADE\ OUTER\ SANS\ REGULAR\ PERSONAL\ USE.OTF")
}
    q
:root {
    --player-detail-horizontal-spacing: 183px;
}

/* Whole Page */
#main {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background-image: url("static/background.png");

    font-family: "Made Outer Sans";
    font-weight: 400;
}

/* Player Profile Pictures */
.player-profile-picture {
    position: absolute;
    top: 24px;
    left: 17px;
    width: 137px;
    height: 137px;
    clip-path: polygon(
        15% 0%,
        100% 0%,
        100% calc(100% - 15%),
        calc(100% - 15%) 100%,
        0% 100%,
        0% 15%
    )
}

/* Player Names */
.player-name {
    position: absolute;
    top: 17px;
    font-size: 35px;
    color: #0d002a;
    letter-spacing: -2px;
}

/* Player Details */
.player-detail {
    position: absolute;
    font-size: 18px;
    color: white;
}
.player-detail-left { left: var(--player-detail-horizontal-spacing); }
.player-detail-right { right: var(--player-detail-horizontal-spacing); }

/* Player Ranks and Seeds */
.player-rank { top: 72px; }
.player-seed { top: 90px; }